====================
        CARROUSEL
======================*/


.carrousel_wrapper {
   marginTop:0px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   

}

.artist_name .wrapper {
    
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}




.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
   
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 500px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

  centered{
    position:absolute;
    top:25%;
    left:20%;
    
    color:white;
    font-size: 27px;
    color:white;
}
.mybutton {
    background-color: #ffff00; 
    color: white; 
    border: 2px solid #ffff00;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    top:100%;
    left:30%;
  }
  
  .mybutton:hover {
    background-color: #f44336;
    color: white;
  }
  
.countdown_wrapper {

    top:500px;
        Left:220px;
    bottom:0 px;
    color:#ffffff;
}
  