
.card_wrapper{
    padding-left:250px;
    padding-right: 150px;
    background-color:#f2f2f2 ;
    padding-bottom:250px; 
    padding-top: 40px;
   
}
.card-image{
    height:150px;
    width:350px;
    margin:1px
}
.second_card_column{
    margin:1px;
    float: left;


}
.second_gallery_wrapper{
    margin-top: 100px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #f2f2f2;
}
.second_card-image{
    height:20px;
    width:290px;
    
    
}

.second_column{
    float:left;
}


.container{
    padding-left:200px
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }